body {
    margin: 0px;
}
.red{
    background: red;
    height: 100px;
}
.blue {
    background: blue;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.green {
    background: green;
    height: 100px;
}
.card {
    color: #222222;
    background: lightgray;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 5px solid black;
    border-radius: 30px;
}