body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar {
    width: 150px;
}
.card {
    justify-content: space-around;
    width: 400px;
    padding: 20px;
    display: flex;
    background: #ddebf8;
    text-align: center;
    border-bottom: 5px solid #d8cefe;
    color: #2b2839;
    margin :0 auto;
}
.border-blue {
    border: 1px dotted blue;
} 